{% extends "base.html" %}
{% load static %}
{% block title %}{{ page_title }}{% endblock %}
<div id="heading-div" class="centered">
    {% block heading %} 
    <div class="title_header">
        <div class="page_title">
            {{ page_heading }}
       </div>
    </div>
    <span class="header_line"></span>
    {% endblock %}
    {% comment %} {% block subheading %} {{page_subheading}}
    {% block supptext %} {{page_text}}{% endblock %} {% endcomment %}
</div>
{% block content %}
    <!-- <div class="centered">
  <span class="emphasized">Catalog Placeholder</span>

</div> -->


{% if not parent_id == None %}
<div class = " centered breadcrumbs">
    <a href="/categoryCatalog/{{grand_parent_id}}/">Parent</a>
</div>
{% endif %}

    <br>
    <section>
        <div class="featured-image-block-grid">
            <div class="featured-image-block-grid-header small-10 medium-8 large-7 columns text-center"></div>
            <div class="row large-up-4 small-up-2 align">
                {% for cat in categories %}
                    <div class="catalog_card" onclick="location.href='/categoryCatalog/{{ cat.id }}';">
                        <div class="pad">
                            <img class="catalog-img" src="{{ cat.image }}" alt="{{ cat.title }}">
                            <h3 class="catalog-title">{{ cat.title }}</h3>
                            <span class = "profile_line"></span>
                            <p class="catalog-desc">
                                {{ cat.desc }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
     
              {% if page_obj.has_next %}
              <hr class="footer_line">
                <li>
                    <a href="?page={{ page_obj.next_page_number }}"><EFBFBD> <span class="show-for-sr">Next page</span></a>
                </li>
            {% endif %}
    </section>
{% endblock %}
