{% extends "base.html" %}
{% load mptt_tags %}
{% load static %}
{% block title %}{{ page_title }}{% endblock %}
<div id="heading-div" class="centered">
    {% block heading %}
    <div class="title_header">
        <div class="page_title">{{ page_heading }}</div>
    </div>
    {% endblock %}
    {% comment %} {% block subheading %} {{page_subheading}}
    {% block supptext %} {{page_text}}{% endblock %} {% endcomment %}
</div>

{% block content %}

<section class="sec_ctr">
    {% include "catalog/_breadcrumbs.html" with ancestors=ancestors object=object%}
</section>
<br>


{% if empty is False %}
<section class="sec_ctr">
    <div class="featured-image-block-grid">
        <div class="featured-image-block-grid-header small-10 medium-8 large-7 columns text-center"></div>
        <div class="row large-up-4 small-up-2 align">
            {% for post in page_obj.object_list %}
            {% comment %} {% if post.approved %} {% endcomment %}
            <div class="catalog_card" onclick="location.href='/posts/{{post.post_type}}/{{ post.slug }}';">
                <div class="pad">
                    {% if post.item_image %}
                    <img class="catalog-img" src="{{ post.item_image.url }}" alt="{{ post.title }}">
                    {% endif %}
                    <h3 class="catalog-title">{{ post.title }}</h3>
                    <span class="hline"></span>
                    <p class="catalog-desc">
                        {{ post.summary }}
                    </p>
                </div>
            </div>
            {% comment %} {% endif %} {% endcomment %}
            {% endfor %}
        </div>
    </div>
    <div class="paginationdiv">
        <ul class="pagination pagination-circular" role="navigation" aria-label="Pagination">
            {% if page_obj.has_previous %}
            {# whether the previous page exists #}
            <li class="show-for-sr">
                <a href="?page={{ page_obj.previous_page_number }}"><span class="show-for-sr">Previous page</span></a>
            </li>
            {% endif %}
            <li class="current">
                <span class="show-for-sr">Page</span> {{ page_obj.number }}
            </li>
            {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}">
                    <EFBFBD> <span class="show-for-sr">Next page</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</section>
{% else %}
<section class="sec_ctr">
    <div class=" sm_content_container">
        <div class="centertext ">
            <h3 class="title">
                Found nothing...
            </h3>
            <p class="subtitle">
                <span>Sorry there's nothing here yet</span>
            </p>
        </div>
    </div>
</section>
{% endif %}

{% endblock %}