{% extends "base.html" %} 
{% load static %} 

{% block title %} {{page_title}} {% endblock %}

 <div id="heading-div" class = "centered">
	{% block heading %} {{page_heading}} {% endblock %}
  {% comment %} {% block subheading %} {{page_subheading}} 
	{% block supptext %} {{page_text}} {% endblock %}  {% endcomment %}
</div> 


{% block content %}
  <div class = "lalligned">
    
    <img id='monke1' class = "img" src="{% static 'img/nft/ape1.png' %}" alt="Monke1">
    {% comment %} <a id='b_monke1' class="btn btn-primary" href="#" onclick="removeMonke(document.getElementById("monke1"),document.getElementById("b_monke1"));" name="delete">Delete</a> {% endcomment %}
    <a id='b_monke1' class="btn btn-primary" href="#" onclick="removeElement(document.getElementById('monke1'));" name="delete">Delete</a> 

    {% comment %} <img id='monke2' class = "img" src="{% static 'img/nft/ape2.jpg' %}" alt="Monke2">
    <a id='b_monke1' class="btn btn-primary" href="#" onclick="removeMonke((document.getElementById("monke2")),(document.getElementById("b_monke2")));" name="delete">Delete</a> {% endcomment %}
    <script type="text/javascript" src="{% static 'js/assn5.js' %}"></script> 
  </div>
{% endblock %}