{% extends "base.html" %}
{% load static %}
{% block title %}{{ page_title }}{% endblock %}
<div id="heading-div" class="centered">
    {% block heading %}
    <div class="profile_banner">
        <div class="profile_title">{{ page_heading }}</div>
    </div>
    <span class="header_line"></span>
    {% endblock %}
    {% comment %} {% block subheading %} {{page_subheading}}
    {% block supptext %} {{page_text}}{% endblock %} {% endcomment %}
</div>
{% block content %}


<div class="centered">
    <div class="altportfolio chat">
        <section class="hero is-primary">
            <div class="hero-body">
                <h3 class="title">
                    Blogbert Chat
                </h3>
                <p class="subtitle">
                    A simple chat built with Django, Channels and Redis
                </p>
            </div>
        </section>
    </div>
</div>
<div class="centered">
    <div class="altportfolio chat">

        <div>
            <div>
                <div class="field">
                    <label>Room name</label>
                    <div class="control">
                        <input class="chat_input" type="text" placeholder="Room name" id="room-name-input">
                    </div>
                </div>
                <div class="field">
                    <label>Username</label>
                    <div class="control">
                        <input class="chat_input" type="text" placeholder="Username" id="username-input">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button>
                            <a class="button is-info" id="room-name-submit">Submit</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js/chatLobby.js' %}"></script>
{% endblock %}