{% extends "base.html" %}
{% load static %}
{% block title %}{{ page_title }}{% endblock %}
<div id="heading-div" class="centered">
    {% block heading %}
        <div class="title_header">
            <div class="page_title">{{ page_heading }}</div>
        </div>
    {% endblock %}
</div>
{% block content %}

<section class="sec_ctr" >
    <div class=" content_container">
        <div class="content_block">


            <div class="lfloat sub_content_block">
                    <img class ="index-img" src="{% static 'img/main_50.JPG' %}" alt="MainPhoto"></a>
            </div>

            <div class="lalligned sub_content_block">
                    <h2 class="work-feature-block-header">About Me</h2>
                    <p>I have always loved learning, gathering knowledge and using it to make new connections or bridge gaps between seemingly unrelated topics. Everyday I want to learn something new, Ideally something that I can apply in a future project. I am constantly looking to better myself to improve and grow; I love to be in constant competition with who I was in the past. My interests vary fairly regularly but one has always remained constant, my love for computers and all that they can do</p>
                    <p>Computers to me are mankind's greatest development, for the first time in history we were able to have verifiable correct calculations, predictions, and information. I cannot express how lucky I was to be born in an age where if I have a question about anything at all I have to do is type the question into my keyboard.</p>
            </div>

        </div>


    </div>
</section>

{% endblock %}

{% comment %} {% block scripts %}
    <script type="text/javascript" src="{% static 'js/chatLobby.js' %}"></script>
{% endblock %} {% endcomment %}
