{% extends "base.html" %}
{% load static %}
{% block title %}{{ page_title }}{% endblock %}
<div id="heading-div" class="centered">
    {% block heading %}
        <div class="title_header">
            <div class="page_title">{{ page_heading }}</div>
        </div>
        {% comment %} <span class="header_line"></span> {% endcomment %}
    {% endblock %}
</div>
{% block content %}


{% comment %} <div class="centered portfolio"> {% endcomment %}
    <div class="centered sm_content_container">
          
        <div class="centertext">
                    <h3 class="title">
                        404 Error
                    </h3>
                    <p class="subtitle">
                    Sorry, the desired page was not found
                    </p>
        </div >
   
    </div>
{% comment %} </div> {% endcomment %}
    
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'js/chatLobby.js' %}"></script>
{% endblock %}
