{% extends "base.html" %} {% load static %} {% block title %}{{ page_title }}
{%endblock %} {% block heading %}
<div class="index_header">{{ page_heading }}</div>
{% endblock %}



{% block content %}



<div class="centered">
    <form method=POST action="/search/">
        {% csrf_token %}
    <input name="searchbox" type="text" placeholder="Search..." />
    <button class="search-button">
        <i class="fa fa-search"></i>
    </button>
</div>




<div class=" intro-block">
{% comment %} <div class="simulation">
    <script type="text/javascript+protovis">

        var w = document.body.clientWidth * 0.85,
            h = document.body.clientWidth * 0.3625,
            nodes = pv.range(200).map(function(i) {
              return {x: w * Math.random(),
                      y: h * Math.random(),
                      r: 2 + Math.random() * 8};
            });
  
        var sim = pv.simulation(nodes)
            .force(pv.Force.charge(3))
            .constraint(pv.Constraint.collision(function(d) d.r))
            .stabilize();
  
        var vis = new pv.Panel()
            .width(w)
            .height(h);
  
        vis.add(pv.Dot)
            .data(nodes)
            .left(function(d) d.x)
            .top(function(d) d.y)
            .radius(function(d) d.r)
            .strokeStyle(pv.ramp("#144e73", "brown").by(function(d) d.vx * d.vx + d.vy * d.vy));
  
        vis.add(pv.Panel)
            .data(nodes)
          .add(pv.Line)
            .data(pv.range(2))
            .strokeStyle("white")
            .left(function(i, d) d.x + i * 10 * d.vx)
            .top(function(i, d) d.y + i * 10 * d.vy);
  
        setInterval(function() {
            sim.step();
            vis.render();
          }, 42);
      </script>
</div> {% endcomment %}


<divclass="simulation">
    <p>N-body simulation will go here</p>
<div>
  <div class="columns medium-5">
    <h2 class="work-feature-block-header">Project Description</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sodales diam ac hendrerit aliquet. Phasellus pretium libero vel molestie maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis est quam. Aenean blandit a urna laoreet tincidunt.</p>
    <h2>Project Details</h2>
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li>Item 4</li>
    </ul>
  </div>
</div>








{% endblock %}
